html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }

#introBlockChain{
  text-align: center;
}

body .modal-dialog {
    width: 80%;   
}

body .modal-dialog img{
   width: 80%; 
   align-content: center;
}

.assetContainerBody{
   display: none;
}

.assetContainerBody button{
   position: absolute;
   top:90%;
   left:0.5%;
   z-index:2;
}

.smartContract{
  border-radius: 8px;
  align-items: center;  
}

.smartContract span{ 
  border-radius: 4px;
  color: #ffffff; 
  font-size:120%;
}

.assetContainer{  
  width: 30%;
  height: 30%;
  position: absolute;
  right: 0;
  top: 45px;
  color: #7E90A0;
  background: #222832;
  align-items: center;
  padding: 30px 0;
  border-left: 25px #222832 solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;   
}

.blockchainInfo{
  width: 25%;
  height: 50%;
  position: absolute;
  left: 2%;
  top:10%;
  color: #7E90A0; 
  background: #222832;
  align-items: center;
  padding: 30px 0;
  border-right: 25px #222832 solid;
  border-left: 25px #222832 solid;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;  
  border-bottom-left-radius: 10px;  
  text-align:center;
}

.assetContainer button{
  top:70%;
}

.extendContainer{
  height: 80%;
  transition-duration: 1.5;  
}

.stats{
  font:30%;
  color: darkorange;
  align-self: center;
}
